
server {
    # listen        http://localhost.com;
    # listen 80 default_server;
    # listen *:80;
    # listen 80;
    # listen 8080;
    # listen 443 ssl;
    # listen *:443 ssl;
    # listen localhost:80;
    # listen 127.0.0.1:8080;
    # listen 192.168.1.100:80;
    # listen 192.168.1.100:443 ssl;
    # listen yourdomain.com;
    # listen yourdomain.com:80;
    # listen http://localhost?

    listen          127.0.0.1;
    server_name   .empresa1.com;
}


# então, vamos refazer as condições:

# [ok] entra no loop while de leitura do arquivo. 
# [ok] Esse while, tratará as linhas que tem no arquivo 
# [ok] então dentro do while entra as condições: 
# tem linha listen? Se sim chama o metodo para parsear 
# a parametrização de listen. Tem linha server_name? 
# Se sim chama o metodo para parsear a parametrização  
# de server_name; tem linha host? 
# Se sim chama o metodo para parsear a parametrização de host; 
# tem linha location? Se sim chama o metodo para parsear a parametrização . 
# Deopis sai do while e verifica em cada metodo se houve 
# o preenchimento dos atributos. Exemplo:  
# atributo ipAddress preenchido? Se não foi preenchido aplica o Default, 
# atributo porNumber preenchido? Se não aplica o Default...e assim em diante