
# Defina o bloco "http" que contém as configurações gerais do servidor HTTP.?


http {
    # pode ser add o certificado ssl de cache compartilhado
    # pode ser add o timeout;
    server {
    
        listen 80; # defina como o servidor estaŕa ouvindo: endereço e a porta || um dos dois.
        server_name localhost; # defina como o servidor terá como nome: localhost || como o pŕoprio endereço IP por ex, se for p primerio caso entao o campo abaixo deve ser preenchido.
     
        location / {
            root __/__; # Defina o caminho do diretorio raiz.
            # Por exemplo, você pode configurar o local para lidar com solicitações HTTP aqui.
        }
        
         # DEMAIS CONFIGURAÇÕES PODEM SER ADD. AQUI. EX:
         
         # error_page {
         # 
         #
         #
         #
         # }
         
         # verbos a ser inseridos em cada location
         
         # allow_methods GET POST DELETE; # Permite os métodos GET, POST e DELETE para esta localização.
         # allow_methods GET POST PUT HEAD; # Para outra localização
         #
         #
    }
}
