
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {

    text-align: center;
}

img {

    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(85, 84, 84, 0.5);
}

img[alt] {

    color: #f6f4e6;
    font-size: 12px;
}

h1 {

  color: #f6f4e6;
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 25vh;
  align-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h2 {

	color: #f6f4e6;
}

body {

  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navMenu a {

  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  transition: color 0.2s ease-in-out;
  margin-inline: 16px;
}

.navMenu a:hover {

  color: #bb9b49;
}

.navMenu .dot {

  width: 6px;
  height: 6px;
  background: #bb9b49;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(30px);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  transform: translateX(54px);
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  transform: translateX(174px);
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translateX(280px);
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  transform: translateX(400px);
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
  transform: translateX(520px);
  opacity: 1;
}

.section-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #272727;
  border: 0px solid #272727;
  padding: 60px;
  gap: 30px;
  font-weight: 300;
  line-height: 1.5;
	margin-bottom: 2rem;
}

.section-content {

  max-width: 600px;
  text-align: justify;
	margin-top: 7rem;
}

.section-button {

  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
	margin-top: 1rem;
}

button {

	border: 1px solid #3b3b3b;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: white;
	padding: 1.5rem;
	height: 30px;
	width: 175px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	transition: 0.5s;
	bottom: 2rem;
	background:  #3b3b3b;;

}

button:hover {

	border: none;
	box-shadow: 0px 0px 10px 0px #3b3b3b;
	font-weight: bold;
	transform: scale(1.2);
	background: rgba(131, 124, 124, 1);
	color: #3b3b3b;
}

.section-container h3 {
    
    margin-bottom: 2px;
    color: #ead8b2;
    font-size: 25px;
    text-align: justify;
    font-weight: 400;
}

.section-container p {

    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
    color: #ead8b2;
    font-weight: 200;
    max-width: 600px;
    letter-spacing: 1px;
}

footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #756d6d;
    color: #fff;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.title-footer {

   color: #f6f4e6;
  font-size: 14px;
  align-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif; 

}
.contact {

  margin-bottom: 5px;
}

.contact a {

  display: inline-block;
  color: #2b2b2a;
  text-decoration: none;
  font-weight: 00;
}

.contact a:hover {

    color: #bb9b49;
    text-shadow: 0 0 10px rgba(187, 155, 73, 0.5);
}

.cards-methods {

	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.cards {

	padding: 1rem;
	background-color: #3b3b3b;
	border-radius: 10px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 350px;
}

.test-container {

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.test-features {

	font-family: "Montserrat", sans-serif;
	background-color: #3b3b3b;
	color: #bb9b49;
	width: 350px;
	height: 350px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	gap: 1rem;
	transition: 0.3s ease;
	position: relative;
}

.test-features:hover {

	background: rgba(131, 124, 124, 1);
	color: #3b3b3b;
}

.button-to-feature {

	border: 1px solid #3b3b3b;
	text-decoration: none;
	color: white;
	padding: 1.5rem;
	height: 30px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	justify-self: flex-end;
	transition: 0.5s;
	position: absolute;
	bottom: 2rem;
}

.test-features:hover .button-to-feature {

	border: none;
	box-shadow: 0px 0px 10px 0px #3b3b3b;
	color: #3b3b3b;
	font-weight: bold;
	transform: scale(1.2);
}

.gold-ball {

	position:absolute;
	right: 20px;
	top: 20px;
	height: 30px;
	width: 30px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #bb9b49;
    border-radius: 50%;
	color: #3b3b3b;
	font-weight: bold;
}

#myForm {
	
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 10px;
}

#myForm label {

    display: block;
    margin-bottom: 10px;
}

#myForm input[type="text"],
#myForm textarea {

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#myForm input[type="submit"],
#myForm input[type="reset"] {

    padding: 10px 20px;
    background-color: #3b3b3b;
    color: #bb9b49;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#myForm input[type="submit"]:hover,
#myForm input[type="reset"]:hover {

    background-color: #4b4948;
}

#myForm .form-button {

    border: 1px solid #3b3b3b;
    background-color: #3b3b3b;
    color: #bb9b49;
    cursor: pointer;
    padding: 0.75rem;
    transition: 0.3s;
}

#myForm .form-button:hover {

    background-color: #272727;
    border: 1px solid #bb9b49;
}

#myForm .form-info {
    color: #bb9b49;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;
}

#myForm .field {
    text-transform: capitalize;
}

#myForm .submitted-info {
    gap: 0.75rem;
    flex-direction: column;
    padding: 0.25rem;
    border: 1px solid #756d6d;
    color: #756d6d;
}

#myForm #choose-image {

    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 1rem;
}

#myForm #image {

    width: 300px;
    height: 300px;
    border: 1px solid #bb9b49;
}

#myForm .upload-container {

    width: 55%;
}

#myForm .upload-span {

    color: #756d6d;
}

#myForm .custom-file {

    display: none;
}

#myForm #fileUpload {

    color: #bb9b49;
    background-color: #3b3b3b;
    padding: 0.25rem;
}

#myForm #fileUpload,
#myForm #submit-image {

    padding: 0.25rem;
    cursor: pointer;
    border: 1px solid #3b3b3b;
    background-color: #3b3b3b;
    color: #bb9b49;
    transition: 0.3s;
}

#myForm #fileUpload:hover,
#myForm #submit-image:hover {

    background-color: #272727;
    border: 1px solid #bb9b49;
}

.field {

	text-transform: capitalize;
}

.submitted-info {

	gap: 0.75rem;
	flex-direction: column;
	padding: 0.25rem;
	border: 1px solid #756d6d;
	color:#756d6d;
}

#choose-image {

	display: flex;
	flex-direction: column;
	width: 55%;
	gap: 1rem;
}

#image {

	width: 300px;
	height: 300px;
	border: 1px solid #bb9b49;
}

.upload-container {

	width: 55%;
}

.upload-span {

	color: #756d6d;
}

.custom-file {

	display: none;
}

.resize-image {
	max-width: 500px;
	max-height: 500px;
}

#fileUpload {

	color: #bb9b49;
	background-color: #3b3b3b;
	padding: 0.25rem;
}

#fileUpload,
#submit-image {

	padding: 0.25rem;
	cursor: pointer;
	border: 1px solid #3b3b3b;
	background-color: #3b3b3b;
	color: #bb9b49;
	transition: 0.3s;
}

#fileUpload:hover,
#submit-image:hover {

	background-color: #272727;
	border: 1px solid #bb9b49;
}

ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0.75rem;
	padding-top: 1rem;
}

li {
	color: #756d6d;
	list-style: none;
}

.delete-button {
	font-size: 1rem;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #3b3b3b;
}

.delete-button:hover {
	border: none;
	box-shadow: 0px 0px 10px 0px #3b3b3b;
	color: #3b3b3b;
	font-weight: bold;
	transform: scale(1.2);
}