/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c9bd52;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

body.error400 {
    background-color: #831e40;
}

body.error403 {
    background-color: #105c76;
}

body.error404 {
    background-color: #125f09;
}

body.error405 {
    background-color: #5d0511;
}

body.error500 {
    background-color: #05e081;
}

body.error505 {
    background-color: #f3f0f1;
}